<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      throwExceptions="false"
      internalLogLevel="Error"
      internalLogFile="${basedir}/Log/nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/Log"/>
  
  <!-- Reusable CSV layout -->
  <variable name="csvLayout" value="${longdate},${logger},${callsite},${threadid},${uppercase:${level}},${message},${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>

  <targets>

    <!-- Main application log -->
    <target name="AWf" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="RetryingWrapper" retryCount="3" retryDelayMilliseconds="100">
        <target xsi:type="File" 
                fileName="${logDirectory}/${shortdate}.csv"
                archiveFileName="${logDirectory}/archive/${shortdate}.{#}.csv"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="30"
                concurrentWrites="true"
                keepFileOpen="false">
          <layout xsi:type="CsvLayout">
            <column name="time" layout="${longdate}" />
            <column name="logger" layout="${logger}" />
            <column name="callsite" layout="${callsite}" />
            <column name="threadid" layout="${threadid}"/>
            <column name="level" layout="${uppercase:${level}}"/>
            <column name="message" layout="${message}"/>
            <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
          </layout>
        </target>
      </target>
    </target>

    <!-- Language string errors log -->
    <target name="AWf_lang" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="RetryingWrapper" retryCount="3" retryDelayMilliseconds="100">
        <target xsi:type="File" 
                fileName="${logDirectory}/language_${shortdate}.csv"
                archiveFileName="${logDirectory}/archive/language_${shortdate}.{#}.csv"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="30"
                concurrentWrites="true"
                keepFileOpen="false">
          <layout xsi:type="CsvLayout">
            <column name="time" layout="${longdate}" />
            <column name="logger" layout="${logger}" />
            <column name="callsite" layout="${callsite}" />
            <column name="threadid" layout="${threadid}"/>
            <column name="level" layout="${uppercase:${level}}"/>
            <column name="message" layout="${message}"/>
            <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
          </layout>
        </target>
      </target>
    </target>

    <!-- Help string errors log -->
    <target name="AWf_help" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="RetryingWrapper" retryCount="3" retryDelayMilliseconds="100">
        <target xsi:type="File" 
                fileName="${logDirectory}/help_${shortdate}.csv"
                archiveFileName="${logDirectory}/archive/help_${shortdate}.{#}.csv"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="30"
                concurrentWrites="true"
                keepFileOpen="false">
          <layout xsi:type="CsvLayout">
            <column name="time" layout="${longdate}" />
            <column name="logger" layout="${logger}" />
            <column name="callsite" layout="${callsite}" />
            <column name="threadid" layout="${threadid}"/>
            <column name="level" layout="${uppercase:${level}}"/>
            <column name="message" layout="${message}"/>
            <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
          </layout>
        </target>
      </target>
    </target>

    <!-- Visual Studio debugger output -->
    <target xsi:type="Debugger" name="VSDebugger">
      <layout xsi:type="CsvLayout">
        <delimiter>Tab</delimiter>
        <withHeader>false</withHeader>
        <quoting>Nothing</quoting>
        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}" />
        <column name="callsite" layout="${callsite}" />
        <column name="threadid" layout="${threadid}"/>
        <column name="level" layout="${uppercase:${level}}"/>
        <column name="message" layout="${message}"/>
        <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
      </layout>
    </target>

  </targets>

  <rules>
    <!-- Language string errors - separate log file -->
    <logger name="LanguageString" minlevel="Error" writeTo="AWf_lang" final="true" />
    
    <!-- Help string errors - separate log file -->
    <logger name="HelpString" minlevel="Error" writeTo="AWf_help" final="true"/>
    
    <!-- Ignore non-error LanguageString and HelpString messages -->
    <logger name="LanguageString" maxlevel="Warn" final="true" />
    <logger name="HelpString" maxlevel="Warn" final="true"/>
    
    <!-- All other logs go to main file and debugger -->
    <logger name="*" minlevel="Trace" writeTo="AWf,VSDebugger" />
  </rules>
</nlog>